@import "compass/reset";
@import "compass/css3";
@import "fonts";
@import "lib/magnific-popup";

$blue: #2196F3;
$grayDark: #363636;
$grayMedium: #adadad;
$grayLight: #f2f2f2;
$orange: #ee8434;
$color4: #2d3047;
$color5: #419d78;
$red: #F44336;

$fontHead: 'Josefin Slab', serif;
$fontBody: 'Josefin Sans', sans-serif;

$imgTransformTime: 200ms;
$imgTransformFunc: cubic-bezier(0.65, 0, 0.45, 1.6);

@mixin contain {
  max: {
    width: 100%;
    height: 100%;
  }
}

@mixin material-shadow {
  @include box-shadow(0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12));
}

body {
  font-family: $fontBody;
  background: $grayLight;
  min-width: 300px;
  @media (max-width: 440px) {
    font-size: 0.7em;
  }

  &.popup-block {
    overflow: hidden;
  }
}

img {
  @include contain;
}

* {
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  vertical-align: middle;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

p a {
  vertical-align: initial;
  color: $red;
  &:visited {
    color: $red;
  }
}

strong {
  font-weight: bold;
}

$headerTransitionTime: 500ms;
$easeInOut: cubic-bezier(.42, 0, .58, 1);
#header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 2em;
  padding: 10px;
  background: transparent;
  font-size: 1.5em;
  @media screen and (min-width: 800px) {
    text-align: center;
  }
  .logo {
    color: #fff;
    opacity: 0;
    display: inline-block;
    pointer-events: none;
    @include transition(all, $headerTransitionTime, $imgTransformFunc);
    @media screen and (max-width: 600px) {
      span {
        display: none;
      }
    }
    img.small-photo {
      border: 1px solid #fff;
      @include border-radius(50%);
      height: 1em;
      width: 1em;
      margin: 0 10px;
      vertical-align: middle;
    }
  }
  &.opaque {
    background: $blue;
    .logo {
      pointer-events: auto;
      opacity: 1;
      @include scale(2);
      @include transform-origin(top, center);
      &:hover {
        @include scale(2.3);
      }
    }
  }
  .inline-menu {
    position: absolute;
    right: 5px;
    top: 5px;
    text-transform: lowercase;
  }
}

.inline-menu {
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
    a {
      display: inline-block;
      color: #ffffff;
      padding: 5px;
      @include border-radius(5px);
      @include transition(all, 300ms, $easeInOut);
      &:hover {
        color: $blue;
        background: rgba(255, 255, 255, 0.8);
        @include material-shadow;
      }
    }
  }
}

h1, h2 {
  font-family: $fontHead;
}

h1 {
  font: {
    size: 4em;
    weight: 400;
  }
}

h2 {
  color: $blue;
  font: {
    size: 3em;
    weight: 500;
  }
  margin: 10px auto 20px;
  text-align: center;
}

section {
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  background: $grayLight;
  &:nth-child(odd) {
    background: $red;
    color: #fff;
  }

  &.band {
    .bg-shadows .light {
      background: $blue;
      @media screen and (max-width: 600px) {
        width: 150vh;
      }
    }
    padding: 2em 0;
    @media screen and (min-width: 701px) {
      display: flex;
      justify-content: space-around;
      align: {
        items: center;
        content: center;
      }
    }

    h3 {
      text: {
        transform: uppercase;
        align: center;
      }
      font-size: 1.5em;
      margin: 20px;
      @media screen and (min-width: 701px) {
        flex: 1 0 150px;
        display: inline-block;
      }
    }
    .content {
      @media screen and (min-width: 701px) {
        flex: 2 2 auto;
        display: inline-block;
      }
      text-align: center;
      height: 100%;
      max-width: 100%;
      overflow: hidden;
    }
    h3, .content {
      position: relative;
      z-index: 1;
    }
  }
}

#home {
  background: $blue;
  @media (min-width: 601px) {
    min-height: 100vh;
  }
}

.my-photo {
  max: {
    height: 200px;
    width: 170px;
  }
}

.foreground {
  position: relative;
  z-index: 1;
  height: 100%;
}

.photo_container {
  height: 35vw;
  width: 35vw;
  padding: 5vw 0;

  margin: auto;
  @media screen and (min-width: 601px) {
    height: 35vh;
    width: 35vh;
    padding: 5vh;
  }
}

.floating_photo {
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 0;
  margin: auto;
  display: inline-block;
  @include transition(transform $imgTransformTime $imgTransformFunc);
  img {
    display: inline-block;
    height: 100%;
    @include border-radius(50%);
    @include material-shadow;
    @include transition(transform $imgTransformTime $imgTransformFunc $imgTransformTime, box-shadow $imgTransformTime $imgTransformFunc);
    border: 4px solid #ffffff;
    overflow: hidden;
  }
  &:hover {
    @include scale(1.2);
    img {
      @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19));
    }
  }

  @media (max-width: 600px) {
    position: relative;
    bottom: inherit;
    text-align: center;
    max-width: 100%;
  }
}

.bg-shadows {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  .dark {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 85%;
    position: absolute;
    right: 0;
    @include transform(skew(-165deg, 0) translateX(384px));
    @media screen and (max-width: 600px) {
      width: 130vw;
    }
  }
  .light {
    background: $red;
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    @include transform(skew(0deg, 15deg) translateY(410px));
    border: 1px solid gray;
    @media screen and (max-width: 600px) {
      width: 300vh;
    }
  }
}

.headings {
  text: {
    align: center;
    transform: uppercase;
  }
  max-width: 22em;

  top: 30%;
  right: 0;
  margin: 0 auto;

  color: #fff;
  @media (min-width: 900px) {
    font-size: 1.8vw;
  }
  @media (max-width: 600px) {
    margin: 10px auto 40px;
    position: static;
  }
  h3 {
    font-size: 1.5em;
  }
}

.connections {
  margin: 1em auto;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  li {
    display: inline-block;
  }
  a {
    margin: 0 5px;
    @include transition(all 200ms $imgTransformFunc);
    &, &:visited {
      color: $grayDark;
    }
    &:before {
      padding: 6px;
      border: 1px solid $red;
      @include border-radius(50%);
    }
    &:hover {
      color: $blue;
    }
  }
  span {
    font-family: $fontBody;
    display: inline-block;
    vertical-align: top;
  }
}

.connections-cont {
  text-align: center;
  .connections {
    width: 300px;
    margin: 0 20px;
  }
}

#contacts {
  .connections {
    li {
      font-size: 1.2em;
      text-align: left;
      min-height: 2em;
      margin-bottom: 1em;
      display: block;
    }
    @media screen and (max-width: 600px) {
      margin: -10px auto;
      li {
        margin: 20px auto;
        font-size: 1.4em;
      }
    }
  }
  .map {
    display: block;
    margin: auto;

    @media screen and (min-width: 601px) {
      margin: {
        top: 10px;
        left: 45px;
      }
    }
  }
}

.connections {
  a {
    color: $grayDark;
    &:before {
      background-color: #ffffff;
      text-align: center;
      border: none;
      @include material-shadow;
      overflow: hidden;
    }
  }
  .icon-location:before,
  .icon-mail:before {
    color: #E55325;
  }
  .icon-linkedin:before {
    color: #007AB9;
  }
  .icon-github:before {
    color: #424242;
  }
  .icon-twitter:before {
    color: #55ACEE;
  }
  .icon-facebook:before {
    color: #3B5998;
  }
  .icon-call:before {
    color: #4EA23B;
  }
  .icon-skype:before {
    color: #00A8EA;
  }
  .icon-earth:before {
    color: #c26514;
  }
}

.connections.quick {
  margin-top: 50px;
  font-size: 1.6em;
  overflow: hidden;
  height: 3.2em;
  li {
    margin-bottom: 0.3em;
  }
  a:before {
    display: inline-block;
    padding: 15px;
    @include transition(all 100ms $imgTransformFunc);
  }
  a:hover:before {
    border: 3px solid #E1E8ED;
  }
  a:not(:hover) {
    &:before {
      background-color: transparent;
      @include text-shadow(none);
      @include box-shadow(none);
      color: #ffffff;
      border: 3px solid #ffffff;
    }
  }
  span {
    display: none;
  }
}

.inner-shadow-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 50;
  //TODO polyfill
  pointer-events: none;
  @include box-shadow(inset 0 -6px 9px -4px $grayDark);
}

.experiences-list {
  margin: 0 auto 4em;
  max-width: 900px;
  li {
    @include border-radius(3px);
    @include material-shadow;

    display: block;
    position: relative;
    background: #ffffff;
    padding: 20px;
    clear: both;
    margin: 40px 0;
    font: {
      size: 1.3em;
    }
    line-height: 1.2em;
    text-align: center;

    @media screen and (min-width: 601px) {
      &:nth-child(even) {
        text-align: right;
        .logo {
          float: left;
        }
      }
      &:nth-child(odd) {
        text-align: left;
        .logo {
          float: right;
        }
      }
    }

    .logo {
      max: {
        width: 7em;
        height: 3em;
      }
    }
    h4 {
      margin-top: 1em;
      color: $red;
      font: {
        size: 1.4em;
        family: $fontHead;
      }
      strong {
        font: {
          weight: bold;
          size: 1.2em;
        }
        line-height: 1.3em;
        display: block;
      }
    }
    .place {
      font: {
        weight: 400;
        size: 1em;
      }
      text-transform: uppercase;
      small {
        font-size: 0.8em;
        color: $grayMedium;
        text-transform: none;
        display: inline-block;
      }
    }
    .time-period {
      font: {
        size: 1em;
        weight: 300;
      }
      display: inline-block;
      @media screen and (max-width: 600px) {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}

.column-cont {
  display: flex;
  margin: 20px auto;
  max-width: 60em;
}

.column {
  flex: 1 1;
  position: relative;
  &:first-child {
    border-right: 2px solid $grayMedium;
  }
}

.column.right {
  .experiences-list {
    li {
      &:before {
        left: initial;
        right: 99%;
        top: 32px;

        border: {
          width: 15px 20px 15px 0;
          color: transparent #ffffff transparent transparent;
        }
      }
      &:after {
        right: initial;
        left: -39px;
        top: 39px;
      }
    }
  }
}

.tag {
  white-space: nowrap;
  &:after {
    content: "|";
    margin: 0 3px;
  }
}

.skill-main-cont {
  display: flex;
  margin: 20px auto;
  max-width: 60em;
}

.skill-cont {
  display: block;
  background: #fff;
  flex: 1 1 auto;
  color: $red;
  border: 1px solid $red;
  width: 100px;
}

.card {
  display: inline-block;
  background: #fff;
  height: 8em;
  width: 13em;
  max-height: 100%;
  @include border-radius(3px);
  @include material-shadow;
  vertical-align: top;
  padding: 8px;
  position: relative;
  margin: 0 10px;
  img {
    margin: auto;
    height: 100%;
    width: 100%;
    object: {
      fit: contain;
      //noinspection CssInvalidPropertyValue
      position: center center;
    }
  }
  a {
    @include border-radius(inherit);
    @include transition(all 200ms $imgTransformTime);
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: #fff;
    background: rgba(33, 150, 243, 0.9);
    font: {
      size: 1.7em;
    }
    padding-top: 1.2em;
    time {
      display: block;
      font: {
        size: 0.8em;
        weight: 100;
      }
      line-height: 1em;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.no-object-fit .card img{
  height: auto;
  width: auto;
}

.card-container {
  position: relative;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  padding-bottom: 3px;
  overflow: {
    x: auto;
    y: hidden;
  }
}

.button {
  display: inline-block;
  padding: 10px 5px;
  margin: 1.3em 1em;
  height: 3.5em;
  width: 8em;
  font-size: 1.4em;
  line-height: 1.2em;
  color: #ffffff;
  border: 2px solid #ffffff;
  text: {
    transform: uppercase;
    align: center;
    decoration: none;
  }
}

.copyright {
  width: 400px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  color: $grayMedium;
  border-top: 1px solid $grayMedium;
  padding: 10px;
}

.wrapper {
  margin: auto;
  max-width: 900px;
}

.popup {
  @include contain;
  @include material-shadow;
  @include border-radius(3px);
  position: relative;
  background: #fff;
  margin: auto;
  width: 900px;
  min-height: 39em;
  display: flex;
  @media screen and (max-width: 600px) {
    min-height: initial;
    height: 96vh;
    display: block;
    overflow-y: auto;
  }

  .mfp-close {
    @include border-radius(50%);
    margin: 5px;
    &:hover {
      background: $grayLight;
    }
    @media screen and (max-width: 600px) {
      background: $grayLight;
      opacity: 1;
    }

  }
  .institution{
    margin: 1em 0 2em;
    img{
      max:{
        width: 4em;
        height: 2em;
      }
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
    }
  }
  header {
    flex: 0 1 17em;
    background: $grayDark;
    color: #FFFFFF;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 700px) {
      flex-basis: 11em;
    }
    @media screen and (max-width: 600px) {
      display: block;
    }

  }
  main {
    flex: 2 2;
    overflow-x: hidden;
    font-size: 1.1em;
    p {
      margin: 3em 1em;
    }
  }
  .logo {
    max-width: 80%;
    margin: 3em 1em 1em;
    @media screen and (max-width: 600px) {
      margin-top: 1em;
    }
    &.title ~ h3 {
      display: none;
    }
  }
  .results {
    margin: 3em 1em;
    li {
      margin-bottom: 1em;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
    strong {
      font: {
        style: normal;
        variant: small-caps;
        weight: normal;
      }
      color: $red;
    }
  }
  time {
    display: block;
    color: $grayLight;
    font: {
      weight: 100;
      style: italic;
    }
    margin-top: 1em;
  }
  .authors {
    li {
      display: inline;
      white-space: nowrap;
      &:before {
        content: '\00b7'; //middot
        margin: 0 5px;
      }
      &:first-child:before {
        content: none;
      }
    }
    a {
     @include transition(color 100ms $imgTransformFunc);
      &:hover {
        color: $red;
      }
    }
  }
  .links {
    margin: 1em auto;
    display: block;
    width: 100%;
    @media screen and (max-width: 600px) {
      border-top: 1px solid $grayLight;
      max-width: 95%;
      li {
        display: inline-block;
        margin: 0 1em;

      }
    }
    a {
      color: #FFFFFF;
      display: block;
      padding: 0.8em 0;
      text-decoration: underline;
      &:hover {
        background: #000;
        text-decoration: none;
      }
    }
  }

  .screenshot {
    @include material-shadow;
    display: block;
    margin: 1em auto;
    max-width: 80%;
  }
}

.mfp-wrap {
  -webkit-overflow-scrolling: touch;
}