@import "compass/reset";
@import "compass/css3";
@import "fonts";

$blue: #3f6fff;
$grayDark: #363636;
$grayMedium: #cbcbcb;
$grayLight: #f2f2f2;
$orange: #ee8434;
$color4: #2d3047;
$color5: #419d78;
$red: #F44336;

$fontHead: 'Josefin Slab', serif;
$fontBody: 'Josefin Sans', sans-serif;

body {
  font-family: $fontBody;
  background: $grayLight;
  @media (max-width: 440px) {
    font-size: 0.7em;
  }
}

img {
  max: {
    width: 100%;
    height: 100%;
  }

}

* {
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  vertical-align: middle;
}

strong {
  font-weight: bold;
}

$headerTransitionTime: 500ms;
$easeInOut: cubic-bezier(.42, 0, .58, 1);
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 10px;
  background: transparent;
  font: {
    family: $fontHead;
    size: 1.5em;
  }
  .logo {
    color: #fff;
    opacity: 0;
    display: inline-block;
    pointer-events: none;
    @include transition(all, $headerTransitionTime, $easeInOut);
    font: {
      family: $fontHead;
      size: 1.5em;
    }
    @media screen and (max-width: 600px) {
      span {
        display: none;
      }
    }

    img.small-photo {
      border: 2px solid #fff;
      @include border-radius(50%);
      height: 35px;
      width: 35px;
      margin: 0 10px;
      @include transition(all, $headerTransitionTime, $easeInOut);
      vertical-align: middle;
    }
    &:hover {
      letter-spacing: 0.05em;
      img.small-photo {
        @include transform(scale(1.3, 1.3));
      }
    }
  }
  &.opaque {
    background: $grayDark;
    .logo {
      pointer-events: auto;
      opacity: 1;
    }
    .inline-menu a:hover {
      color: $grayDark;
    }
  }

  .inline-menu {
    float: right;
  }
}

.inline-menu {
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
    a {
      display: inline-block;
      color: #ffffff;
      padding: 5px;
      @include border-radius(5px);
      @include transition(all, 300ms, $easeInOut);
      &:hover {
        color: $blue;
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

h1, h2 {
  font-family: $fontHead;
}

h1 {
  font: {
    size: 4em;
    weight: 100;
  }
}

h2 {
  font: {
    size: 2em;
  }
  margin: 10px auto 20px;
  text: {
    transform: lowercase;
    align: center;
  }
}

section {
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  background: $grayLight;
  &:nth-child(odd) {
    background: $red;
    color: #fff;
  }

  &.band {
    padding: 10px 0;
    height: 10em;

    display: flex;
    justify-content: space-around;
    align: {
      items: center;
      content: center;
    }

    h3 {
      flex: 1 0 150px;
      text: {
        align: right;
        transform: uppercase;
      }
      display: inline-block;

      font-size: 1.5em;
      margin: 20px;
    }
    .content {
      display: inline-block;
      flex: 2 2 auto;

      text-align: center;
      height: 100%;
      overflow: hidden;
    }
  }
}

#home {
  background: $red;
  //background: $red url("../img/photo_big.jpg") center center no-repeat;
  //background-size: cover;
  @media (min-width: 600px) {
    height: 100vh;
  }

  .background{
    background: rgba(244, 67, 54, 0.7);
  }
}

.my-photo {
  max: {
    height: 200px;
    width: 170px;
  }
}

.floating_photo {
  position: absolute;
  bottom: 0;
  max: {
    width: 50%;
    height: 80%;
  }
  overflow: hidden;
  font-size: 0;
  img {
    max: {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 600px) {
    position: relative;
    bottom: inherit;
    text-align: center;
    max-width: 100%;
    width: 100%;
    height: 50%;
    margin-top: 45px;
    img {
      max: {
        height: 300px;
        width: 80%;
      }
    }
  }
}

.bg-shadows {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .dark {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 65%;
    position: absolute;
    right: 0;
    @include transform(skew(-165deg, 0) translateX(384px));
  }
  .light {
    background: rgba(255, 255, 255, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    @include transform(skew(0deg, 15deg) translateY(410px));
  }
}

.headings {
  position: absolute;
  text: {
    align: center;
    transform: uppercase;
  }
  max-width: 22em;

  top: 30%;
  right: 0;
  margin: 0 4em;
  color: #fff;
  @media (min-width: 900px) {
    font-size: 2vw;
  }
  @media (max-width: 600px) {
    margin: 50px auto 0;
    position: static;
  }
  h3 {
    font-size: 1.5em;
  }
}

.connections {
  margin: 1em auto;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  &:before {
    font-size: 3em;
  }

  li {
    display: inline-block;
  }
  a {
    margin: 0 5px;
    &, &:hover, &:visited {
      color: $red;
    }
    &:before {
      padding: 6px;
      border: 1px solid $red;
      @include border-radius(50%);
    }
  }
  span {
    font-family: $fontBody;
    display: inline-block;
    vertical-align: top;
  }
}

#contacts {
  .connections {
    li {
      font-size: 1.2em;
      text-align: left;
      min-height: 2em;
      margin-bottom: 1em;
      display: block;
    }
  }
  .map {
    display: block;
    margin: {
      top: 10px;
      left: 45px;
    }
  }
}

.connections {
  a {
    color: $grayDark;
    &:before {
      background-color: #E1E8ED;
      text-align: center;
      border: none;
      @include text-shadow(3px 2px 8px $grayMedium);
      @include box-shadow(2px 2px 1px  -1px $grayMedium);
      overflow: hidden;
    }
  }
  .icon-location:before,
  .icon-mail:before {
    color: #E55325;
  }
  .icon-linkedin:before {
    color: #007AB9;
  }
  .icon-github:before {
    color: #424242;
  }
  .icon-twitter:before {
    color: #55ACEE;
  }
  .icon-facebook:before {
    color: #3B5998;
  }
  .icon-call:before {
    color: #4EA23B;
  }
  .icon-skype:before {
    color: #00A8EA;
  }
  .icon-earth:before {
    color: #c26514;
  }
}

.connections.quick {
  margin-top: 50px;
  font-size: 1.6em;
  a:before{
    @include transition(all 100ms, box-shadow 300ms 100ms);
  }
  a:hover:before{
    border: 3px solid #E1E8ED;
  }
  a:not(:hover) {
    &:before {
      background-color: transparent;
      @include text-shadow(none);
      @include box-shadow(none);
      color: #ffffff;
      border: 3px solid #ffffff;
    }
  }
  span {
    display: none;
  }
}


.inner-shadow-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 50;
  //TODO polyfill
  pointer-events: none;
  @include box-shadow(inset 0 -6px 9px -4px $grayDark);
}

section > h2 {
  //TODO inline-block+border
  text-decoration: underline;
}

.experiences-list {
  margin: auto;
  max-width: 900px;
  li {
    display: block;
    position: relative;
    background: #ffffff;
    @include border-radius(7px);
    padding: 20px;
    clear: both;
    margin: 40px 0;
    font: {
      size: 1.3em;
    }
    line-height: 1.2em;

    .logo {
      max: {
        width: 7em;
        height: 3em;
      }
      float: right;
    }
    h4 {
      margin-top: 1em;
      color: $red;
      font: {
        family: $fontHead;
      }
      strong {
        font: {
          weight: bold;
          size: 1.2em;
        }
        line-height: 1.3em;
        display: block;
      }
    }
    .place {
      font: {
        weight: 400;
        size: 1em;
      }
      text-transform: uppercase;
      small {
        font-size: 0.8em;
        color: $grayMedium;
        text-transform: none;
      }
    }
    .time-period {
      font: {
        size: 1em;
        weight: 300;
      }
      display: block;
    }
  }
}

.column-cont {
  display: flex;
  margin: 20px auto;
  max-width: 60em;
}

.column {
  flex: 1 1;
  position: relative;
  &:first-child {
    border-right: 2px solid $grayMedium;
  }
}

.column.right {
  .experiences-list {
    li {
      &:before {
        left: initial;
        right: 99%;
        top: 32px;

        border: {
          width: 15px 20px 15px 0;
          color: transparent #ffffff transparent transparent;
        }
      }
      &:after {
        right: initial;
        left: -39px;
        top: 39px;
      }
    }
  }
}

.tag {
  white-space: nowrap;
  &:after {
    content: "|";
    margin: 0 3px;
  }
}

.skill-main-cont {
  display: flex;
  margin: 20px auto;
  max-width: 60em;
}

.skill-cont {
  display: block;
  background: #fff;
  flex: 1 1 auto;
  color: $red;
  border: 1px solid $red;
  width: 100px;
}

.card {
  display: inline-block;
  background: #fff;
  height: 8em;
  width: 13em;
  max-height: 100%;
  @include border-radius(5px);
  vertical-align: top;
  padding: 8px;
  position: relative;
  margin: 0 10px;
  img {
    margin: auto;
    height: 100%;
    width: 100%;
    //TODO polyfill
    object: {
      fit: contain;
      //noinspection CssInvalidPropertyValue
      position: center center;
    }
  }
  a {
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    @include border-radius(inherit);
    @include transition(opacity 500ms);
    font: {
      size: 1.5em;
    }
    line-height: 4.5em;
    &:hover {
      opacity: 1;
    }
  }
}

.card-container {
  position: relative;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  padding-bottom: 3px;
  overflow: {
    x: auto;
    y: hidden;
  }
}

.button {
  display: inline-block;
  padding: 10px 5px;
  margin: 1.3em 1em;
  height: 3.5em;
  width: 8em;
  font-size: 1.4em;
  line-height: 1.2em;
  color: #ffffff;
  border: 2px solid #ffffff;
  text: {
    transform: uppercase;
    align: center;
    decoration: none;
  }
}

.copyright {
  width: 400px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  color: $grayMedium;
  border-top: 1px solid $grayMedium;
  padding: 10px;
}

#contact-form {
  display: inline-block;
  max-width: 50%;

  fieldset {
    margin-bottom: 10px;
  }
  label {
    display: inline-block;
    width: 5em;
    text-align: right;
    border-top: 1px solid $grayDark;
    vertical-align: top;
    margin: {
      left: 10px;
      right: 2px;
    }
    font: {
      weight: 400;
    }
  }

  input, textarea {
    background: transparent;
    border: 1px solid $grayMedium;
    &:focus {
      outline: none;
      background: #ffffff;
    }
  }
}

.wrapper {
  margin: auto;
  max-width: 900px;
}

.connections-cont {
  display: flex;
  flex: {
    wrap: wrap;
  }
  justify-content: space-around;
  .connections {
    flex: 1 1 auto;
    padding: 5px 10px;
    overflow: hidden;
  }
}

//body {
//  top: 60px;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  perspective: 1px;
//  overflow-x: hidden;
//  overflow-y: scroll;
//
//  height: auto;
//  main{
//    position: fixed;
//    transform-style: preserve-3d;
//    font-size: 20px;
//    background: transparent;
//    //overflow: initial;
//    //overflow-x: hidden;
//    overflow-y: scroll;
//    perspective: 1px;
//
//  }
//  #home{
//    position: relative;
//    background: transparent;
//    transform-style: preserve-3d;
//  }
//  .background{
//    transform: translateZ(-1px) scale(2);
//    background: $red;
//  }
//  .foreground{
//    position: absolute;
//    top: 0;
//    height: 100%;
//    width: 100%;
//  }
//}
