<div class="popup project" id="hyperted-popup">
    <header>
        <div class="titling">
            <img class="logo title" src="img/projects/hyperted_logo_w.png" alt="HyperTED">

            <h3>HyperTED</h3>

            <div class="institution">
                <span>a project by</span>
                <a href="www.eurecom.fr" target="_blank">
                    <img src="img/logos/logoeurecom_w.png" alt="EURECOM, Sophia Antipolis">
                </a>
            </div>
            <ul class="authors">
                <li><a href="http://www.eurecom.fr/en/people/redondo-garcia-jose-luis/biography" target="_blank">J. L.
                    Redondo Garc&iacute;a</a></li>
                <li><a href="https://it.linkedin.com/in/mariellasabatino" target="_blank">M. Sabatino</a></li>
                <li><a>P. Lisena</a></li>
                <li><a href="http://www.eurecom.fr/~troncy/" target="_blank">R. Troncy</a></li>
            </ul>
            <time datetime="09-2014">2014</time>
        </div>
        <ul class="links">
            <li>
                <a href="http://linkedtv.eurecom.fr/Hyperted/" target="_blank">Live application</a>
            </li>
            <li>
                <a href="https://github.com/pasqLisena/MediaFragPlayerDemo" target="_blank">GitHub Repo</a>
            </li>
            <li>
                <a href="http://www.slideshare.net/JosLuisRedondoGarca/hyperted-40494120" target="_blank">Presentation
                    @LinkedUP</a>
            </li>
            <li>
                <a href="http://www.slideshare.net/MariellaSabatino/hyperted-46212576" target="_blank">Presentation
                    @PoliTO</a>
            </li>

        </ul>

    </header>
    <main>
        <p>
            HyperTED is an innovative web app that offers a unique and innovative way for exploring over 1681 TED talks
            at the fragment level. It applies semantic tools on subtitles in order to suggest related chapters and
            interesting contents.
        </p>
        <img class="screenshot" src="img/projects/hyperted_screen.png">

        <ul class="results">
            <li>
                <strong>Publication</strong>
                <a href="http://www.eurecom.fr/~troncy/Publications/Redondo_Troncy-iswc14.pdf" target="_blank">
                    Detecting Hot Spots in Web Videos.</a> @ISCW 2014

            </li>
            <li>
                <strong>Top 10</strong>
                @<a href="http://linkedup-project.eu/2014/10/14/vici-shortlist-hyperted/" target="_blank">LinkedUp
                Vici Challenge</a>
            </li>
        </ul>

    </main>

</div>