<div class="popup project" id="hyperted-popup">
    <header>
        <div class="titling">
            <img class="logo" src="img/projects/maffin_logo_w.png" alt="HyperTED">

            <h3>MaFFiN - Media Fragment Filesystem Node.JS Server</h3>

            <div class="institution">
                <span>a project by</span>
                <a href="www.eurecom.fr" target="_blank">
                    <img src="img/logos/logoeurecom_w.png" alt="EURECOM, Sophia Antipolis">
                </a>
            </div>

            <ul class="authors">
                <li><a>P. Lisena</a></li>
            </ul>
            <time datetime="09-2014">2014</time>
        </div>
        <ul class="links">
            <li>
                <a href="https://github.com/pasqLisena/maffin" target="_blank">GitHub Repo</a>
            </li>
            <li>
                <a href="http://www.slideshare.net/SquaLeLis/developing-a-nodejs" target="_blank">Presentation
                    @PoliTO</a>
            </li>

        </ul>

    </header>
    <main>
        <p>
            MaFFiN is a Node.JS server that supports the new following the
            <a href="http://www.w3.org/TR/media-frags/">Media Fragment W3C Reccomandation</a>.<br>
            It supports temporal (npt) and track fragment, both in hash and query format.<br>
            It works thanks to the video processing tool ffmpeg and the nosql database MongoDB.


        </p>
        <img class="screenshot" src="img/projects/maffin_screen.jpg">

    </main>

</div>