darkOrange = #a42713

#cover
  min-height 20em
  max-height 100vh
  padding 2em 1em

  background darkOrange url('img/paper.jpg') center center
  background-size cover
  background-blend-mode soft-light

  text-align center

  h1
    font 4em Sandbox
    line-height 1em
    text-transform: uppercase
  h2
    font 2em Sandbox
  h1, h2
    color #fff
    margin 0

  .my-pic
    width 15em
    height 15em
    margin auto

    background url('img/potrait-inverted.png') center center no-repeat
    background-size contain
    background-blend-mode screen
