fontFolder = '/fonts/'

@font-face {
    font-family: 'Sandbox';
    src: url(fontFolder + 'sandbox_melodrama.woff2') format('woff2'),
         url(fontFolder + 'sandbox_melodrama.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
