// main: main.styl


// COLORS
main = #ca4539
mainLight = #d8776f
accent = #ffc107
lightGray = #e5e5e5
darkGray = #444


// DIMENSIONS
pageWidth = 900px
borderDim = .3rem

// FONTS
titleFont = 'Exo', sans-serif
