// main: ../main.styl


nav
  position relative
  z-index 10
  text-align center
  padding .4em
  li
    display inline-block
    margin 0 1.4em
    font-size 1rem
    +below('s')
      margin 0 .3em
    a
      text-transform uppercase
      color #fff
      font-weight 300
      min-height 44px
      min-width 44px
      padding .65rem .6rem
      display inline-flex
      align-items center
      justify-content center
      &.mdi
        font-size 0
        &::before
          font-size 1.3rem
      &:hover
        color alpha(#fff,.8)
        text-decoration none
    &.current
      a
        color #fff
        span
          border-bottom 2px solid accent
