<footer id="mainFooter">
  <div class="inner">
    <div class="content">
      <div class="contacts">
        <h2>Get in touch.</h2>
        <div>
          <a class="contact" href="mailto:{{site.data.pasquale.email}}">{{site.data.pasquale.email}}</a>
          <a class="contact" href="tel:{{site.data.pasquale.telephone | remove: " "}}">{{site.data.pasquale.telephone}}</a>
        </div>
        <section class="fastLinks">
          {% for s in site.data.meta.social %}
          {% unless s.bottom == false %}
          <a class="mdi {{s.icon}}" aria-label="{{s.label}}" href="{{s.uri}}"></a>
          {% endunless %}
          {% endfor %}
        </section>

      </div>
      <div class="place">
        <h2>Where I am.</h2>
        <a class="location" href="{{site.data.pasquale.worksFor.location}}" rel="external" target="_blank">
          <img src="/images/location.png" alt="Sophia Antipolis" width="139" height="140"/>
        </a>

        <div>
          <a href="{{site.data.pasquale.worksFor.location}}" rel="external" target="_blank">
            {{site.data.pasquale.address | newline_to_br }}
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
