<footer id="mainFooter">
  <div class="inner">
    <div class="content">
      <div class="contacts">
        <h1>Get in touch.</h1>
        <div>
          <a class="contact" href="mailto:{{site.data.pasquale.email}}">{{site.data.pasquale.email}}</a>
          <a class="contact" href="tel:{{site.data.pasquale.telephone | remove: " "}}">{{site.data.pasquale.telephone}}</a>
        </div>
        <section class="fastLinks">
          {% for s in site.data.meta.social %}
          {% unless s.bottom == false %}
          <a class="mdi {{s.icon}}" alt="{{s.label}}" href="{{s.uri}}"></a>
          {% endunless %}
          {% endfor %}
        </section>

      </div>
      <div class="place">
        <h1>Where I am.</h1>
        <a class="location" href="http://maps.google.com/search/{{site.data.pasquale.address}}" rel="external" target="_blank">
          <img src="/images/location.png" alt="Sophia Antipolis"/>
        </a>

        <div>
          <a href="http://maps.google.com/search/{{site.data.pasquale.address}}" rel="external" target="_blank">
            {{site.data.pasquale.address | newline_to_br }}
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
