<header id="mainHeader">
  <div class="inner">
    <div class="content">
      <p>{{page.greetings}}</p>
      <section class="fastLinks">
        <div>
          {% for s in page.social %}
          {% if s.top %}
          <a class="mdi {{s.icon}}" alt="{{s.label}}" href="{{s.uri}}"></a>
          {% endif %}
          {% endfor %}
        </div>
        <div>
          <a rel="external" target="_blank" href="{{site.data.pasquale.worksFor.url}}" alt="{{site.data.pasquale.worksFor.label}}">
            <img src="{{site.data.pasquale.worksFor.logo}}"/>
          </a>
        </div>
      </section>
    </div>
  </div>
</header>
