@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600|Josefin+Slab:100,400,700);
/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?hx6228");
  src: url("../fonts/icomoon.eot?#iefixhx6228") format("embedded-opentype"), url("../fonts/icomoon.woff?hx6228") format("woff"), url("../fonts/icomoon.ttf?hx6228") format("truetype"), url("../fonts/icomoon.svg?hx6228#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 14, ../sass/fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../sass/fonts.scss */
.icon-location:before {
  content: "\e601";
}

/* line 32, ../sass/fonts.scss */
.icon-mail:before {
  content: "\e600";
}

/* line 36, ../sass/fonts.scss */
.icon-twitter:before {
  content: "\ea91";
}

/* line 40, ../sass/fonts.scss */
.icon-github:before {
  content: "\eab2";
}

/* line 44, ../sass/fonts.scss */
.icon-linkedin:before {
  content: "\eac9";
}

/* line 48, ../sass/fonts.scss */
.icon-skype:before {
  content: "\eac6";
}

/* line 53, ../sass/fonts.scss */
.icon-earth:before {
  content: "\e9ca";
}

/* line 57, ../sass/fonts.scss */
.icon-facebook:before {
  content: "\ea8c";
}

/* line 61, ../sass/fonts.scss */
.icon-call:before {
  content: "\e602";
}

/* line 17, ../sass/screen.scss */
body {
  font-family: "Josefin Sans", sans-serif;
  background: #f2f2f2;
}
@media (max-width: 440px) {
  /* line 17, ../sass/screen.scss */
  body {
    font-size: 0.7em;
  }
}

/* line 25, ../sass/screen.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/* line 33, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 39, ../sass/screen.scss */
a {
  text-decoration: none;
  vertical-align: middle;
}

/* line 44, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 50, ../sass/screen.scss */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 10px;
  background: transparent;
  font-family: "Josefin Slab", serif;
  font-size: 1.5em;
}
/* line 60, ../sass/screen.scss */
header .logo {
  color: #fff;
  opacity: 0;
  display: inline-block;
  pointer-events: none;
  -moz-transition: all, 500ms, cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all, 500ms, cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transition: all, 500ms, cubic-bezier(0.42, 0, 0.58, 1);
  transition: all, 500ms, cubic-bezier(0.42, 0, 0.58, 1);
  font-family: "Josefin Slab", serif;
  font-size: 1.5em;
}
@media screen and (max-width: 600px) {
  /* line 71, ../sass/screen.scss */
  header .logo span {
    display: none;
  }
}
/* line 76, ../sass/screen.scss */
header .logo img.small-photo {
  border: 2px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 0 10px;
  -moz-transition: all, 500ms, cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all, 500ms, cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transition: all, 500ms, cubic-bezier(0.42, 0, 0.58, 1);
  transition: all, 500ms, cubic-bezier(0.42, 0, 0.58, 1);
  vertical-align: middle;
}
/* line 85, ../sass/screen.scss */
header .logo:hover {
  letter-spacing: 0.05em;
}
/* line 87, ../sass/screen.scss */
header .logo:hover img.small-photo {
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
/* line 92, ../sass/screen.scss */
header.opaque {
  background: #363636;
}
/* line 94, ../sass/screen.scss */
header.opaque .logo {
  pointer-events: auto;
  opacity: 1;
}
/* line 98, ../sass/screen.scss */
header.opaque .inline-menu a:hover {
  color: #363636;
}
/* line 103, ../sass/screen.scss */
header .inline-menu {
  float: right;
}

/* line 109, ../sass/screen.scss */
.inline-menu li {
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
}
/* line 113, ../sass/screen.scss */
.inline-menu li a {
  display: inline-block;
  color: #ffffff;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all, 300ms, cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all, 300ms, cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transition: all, 300ms, cubic-bezier(0.42, 0, 0.58, 1);
  transition: all, 300ms, cubic-bezier(0.42, 0, 0.58, 1);
}
/* line 119, ../sass/screen.scss */
.inline-menu li a:hover {
  color: #3f6fff;
  background: rgba(255, 255, 255, 0.8);
}

/* line 127, ../sass/screen.scss */
h1, h2 {
  font-family: "Josefin Slab", serif;
}

/* line 131, ../sass/screen.scss */
h1 {
  font-size: 4em;
  font-weight: 100;
}

/* line 138, ../sass/screen.scss */
h2 {
  font-size: 2em;
  margin: 10px auto 20px;
  text-transform: lowercase;
  text-align: center;
}

/* line 149, ../sass/screen.scss */
section {
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  background: #f2f2f2;
}
/* line 154, ../sass/screen.scss */
section:nth-child(odd) {
  background: #F44336;
  color: #fff;
}
/* line 159, ../sass/screen.scss */
section.band {
  padding: 10px 0;
  height: 10em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
/* line 170, ../sass/screen.scss */
section.band h3 {
  flex: 1 0 150px;
  text-align: right;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.5em;
  margin: 20px;
}
/* line 181, ../sass/screen.scss */
section.band .content {
  display: inline-block;
  flex: 2 2 auto;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

/* line 192, ../sass/screen.scss */
#home {
  background: #F44336;
  background-size: cover;
}
@media (min-width: 600px) {
  /* line 192, ../sass/screen.scss */
  #home {
    height: 100vh;
  }
}
/* line 200, ../sass/screen.scss */
#home .background {
  background: rgba(244, 67, 54, 0.7);
}

/* line 205, ../sass/screen.scss */
.my-photo {
  max-height: 200px;
  max-width: 170px;
}

/* line 212, ../sass/screen.scss */
.floating_photo {
  position: absolute;
  bottom: 0;
  max-width: 50%;
  max-height: 80%;
  overflow: hidden;
  font-size: 0;
}
/* line 221, ../sass/screen.scss */
.floating_photo img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 600px) {
  /* line 212, ../sass/screen.scss */
  .floating_photo {
    position: relative;
    bottom: inherit;
    text-align: center;
    max-width: 100%;
    width: 100%;
    height: 50%;
    margin-top: 45px;
  }
  /* line 235, ../sass/screen.scss */
  .floating_photo img {
    max-height: 300px;
    max-width: 80%;
  }
}

/* line 244, ../sass/screen.scss */
.bg-shadows {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 251, ../sass/screen.scss */
.bg-shadows .dark {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 65%;
  position: absolute;
  right: 0;
  -moz-transform: skew(-165deg, 0) translateX(384px);
  -ms-transform: skew(-165deg, 0) translateX(384px);
  -webkit-transform: skew(-165deg, 0) translateX(384px);
  transform: skew(-165deg, 0) translateX(384px);
}
/* line 259, ../sass/screen.scss */
.bg-shadows .light {
  background: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  -moz-transform: skew(0deg, 15deg) translateY(410px);
  -ms-transform: skew(0deg, 15deg) translateY(410px);
  -webkit-transform: skew(0deg, 15deg) translateY(410px);
  transform: skew(0deg, 15deg) translateY(410px);
}

/* line 269, ../sass/screen.scss */
.headings {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  max-width: 22em;
  top: 30%;
  right: 0;
  margin: 0 4em;
  color: #fff;
}
@media (min-width: 900px) {
  /* line 269, ../sass/screen.scss */
  .headings {
    font-size: 2vw;
  }
}
@media (max-width: 600px) {
  /* line 269, ../sass/screen.scss */
  .headings {
    margin: 50px auto 0;
    position: static;
  }
}
/* line 288, ../sass/screen.scss */
.headings h3 {
  font-size: 1.5em;
}

/* line 293, ../sass/screen.scss */
.connections {
  margin: 1em auto;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
/* line 298, ../sass/screen.scss */
.connections:before {
  font-size: 3em;
}
/* line 302, ../sass/screen.scss */
.connections li {
  display: inline-block;
}
/* line 305, ../sass/screen.scss */
.connections a {
  margin: 0 5px;
}
/* line 307, ../sass/screen.scss */
.connections a, .connections a:hover, .connections a:visited {
  color: #F44336;
}
/* line 310, ../sass/screen.scss */
.connections a:before {
  padding: 6px;
  border: 1px solid #F44336;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 316, ../sass/screen.scss */
.connections span {
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  vertical-align: top;
}

/* line 325, ../sass/screen.scss */
#contacts .connections li {
  font-size: 1.2em;
  text-align: left;
  min-height: 2em;
  margin-bottom: 1em;
  display: block;
}
/* line 333, ../sass/screen.scss */
#contacts .map {
  display: block;
  margin-top: 10px;
  margin-left: 45px;
}

/* line 343, ../sass/screen.scss */
.connections a {
  color: #363636;
}
/* line 345, ../sass/screen.scss */
.connections a:before {
  background-color: #E1E8ED;
  text-align: center;
  border: none;
  text-shadow: 3px 2px 8px #cbcbcb;
  -moz-box-shadow: 2px 2px 1px -1px #cbcbcb;
  -webkit-box-shadow: 2px 2px 1px -1px #cbcbcb;
  box-shadow: 2px 2px 1px -1px #cbcbcb;
  overflow: hidden;
}
/* line 354, ../sass/screen.scss */
.connections .icon-location:before,
.connections .icon-mail:before {
  color: #E55325;
}
/* line 358, ../sass/screen.scss */
.connections .icon-linkedin:before {
  color: #007AB9;
}
/* line 361, ../sass/screen.scss */
.connections .icon-github:before {
  color: #424242;
}
/* line 364, ../sass/screen.scss */
.connections .icon-twitter:before {
  color: #55ACEE;
}
/* line 367, ../sass/screen.scss */
.connections .icon-facebook:before {
  color: #3B5998;
}
/* line 370, ../sass/screen.scss */
.connections .icon-call:before {
  color: #4EA23B;
}
/* line 373, ../sass/screen.scss */
.connections .icon-skype:before {
  color: #00A8EA;
}
/* line 376, ../sass/screen.scss */
.connections .icon-earth:before {
  color: #c26514;
}

/* line 381, ../sass/screen.scss */
.connections.quick {
  margin-top: 50px;
  font-size: 1.6em;
}
/* line 384, ../sass/screen.scss */
.connections.quick a:before {
  -moz-transition: all 100ms, box-shadow 300ms 100ms;
  -o-transition: all 100ms, box-shadow 300ms 100ms;
  -webkit-transition: all 100ms, box-shadow 300ms;
  -webkit-transition-delay: 0s, 100ms;
  transition: all 100ms, box-shadow 300ms 100ms;
}
/* line 387, ../sass/screen.scss */
.connections.quick a:hover:before {
  border: 3px solid #E1E8ED;
}
/* line 391, ../sass/screen.scss */
.connections.quick a:not(:hover):before {
  background-color: transparent;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  border: 3px solid #ffffff;
}
/* line 399, ../sass/screen.scss */
.connections.quick span {
  display: none;
}

/* line 405, ../sass/screen.scss */
.inner-shadow-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 50;
  pointer-events: none;
  -moz-box-shadow: inset 0 -6px 9px -4px #363636;
  -webkit-box-shadow: inset 0 -6px 9px -4px #363636;
  box-shadow: inset 0 -6px 9px -4px #363636;
}

/* line 417, ../sass/screen.scss */
section > h2 {
  text-decoration: underline;
}

/* line 422, ../sass/screen.scss */
.experiences-list {
  margin: auto;
  max-width: 900px;
}
/* line 425, ../sass/screen.scss */
.experiences-list li {
  display: block;
  position: relative;
  background: #ffffff;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 20px;
  clear: both;
  margin: 40px 0;
  font-size: 1.3em;
  line-height: 1.2em;
}
/* line 438, ../sass/screen.scss */
.experiences-list li .logo {
  max-width: 7em;
  max-height: 3em;
  float: right;
}
/* line 445, ../sass/screen.scss */
.experiences-list li h4 {
  margin-top: 1em;
  color: #F44336;
  font-family: "Josefin Slab", serif;
}
/* line 451, ../sass/screen.scss */
.experiences-list li h4 strong {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.3em;
  display: block;
}
/* line 460, ../sass/screen.scss */
.experiences-list li .place {
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
}
/* line 466, ../sass/screen.scss */
.experiences-list li .place small {
  font-size: 0.8em;
  color: #cbcbcb;
  text-transform: none;
}
/* line 472, ../sass/screen.scss */
.experiences-list li .time-period {
  font-size: 1em;
  font-weight: 300;
  display: block;
}

/* line 482, ../sass/screen.scss */
.column-cont {
  display: flex;
  margin: 20px auto;
  max-width: 60em;
}

/* line 488, ../sass/screen.scss */
.column {
  flex: 1 1;
  position: relative;
}
/* line 491, ../sass/screen.scss */
.column:first-child {
  border-right: 2px solid #cbcbcb;
}

/* line 499, ../sass/screen.scss */
.column.right .experiences-list li:before {
  left: initial;
  right: 99%;
  top: 32px;
  border-width: 15px 20px 15px 0;
  border-color: transparent #ffffff transparent transparent;
}
/* line 509, ../sass/screen.scss */
.column.right .experiences-list li:after {
  right: initial;
  left: -39px;
  top: 39px;
}

/* line 518, ../sass/screen.scss */
.tag {
  white-space: nowrap;
}
/* line 520, ../sass/screen.scss */
.tag:after {
  content: "|";
  margin: 0 3px;
}

/* line 526, ../sass/screen.scss */
.skill-main-cont {
  display: flex;
  margin: 20px auto;
  max-width: 60em;
}

/* line 532, ../sass/screen.scss */
.skill-cont {
  display: block;
  background: #fff;
  flex: 1 1 auto;
  color: #F44336;
  border: 1px solid #F44336;
  width: 100px;
}

/* line 541, ../sass/screen.scss */
.card {
  display: inline-block;
  background: #fff;
  height: 8em;
  width: 13em;
  max-height: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  vertical-align: top;
  padding: 8px;
  position: relative;
  margin: 0 10px;
}
/* line 552, ../sass/screen.scss */
.card img {
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center center;
}
/* line 563, ../sass/screen.scss */
.card a {
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  font-size: 1.5em;
  line-height: 4.5em;
}
/* line 580, ../sass/screen.scss */
.card a:hover {
  opacity: 1;
}

/* line 586, ../sass/screen.scss */
.card-container {
  position: relative;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  padding-bottom: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}

/* line 598, ../sass/screen.scss */
.button {
  display: inline-block;
  padding: 10px 5px;
  margin: 1.3em 1em;
  height: 3.5em;
  width: 8em;
  font-size: 1.4em;
  line-height: 1.2em;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

/* line 615, ../sass/screen.scss */
.copyright {
  width: 400px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  color: #cbcbcb;
  border-top: 1px solid #cbcbcb;
  padding: 10px;
}

/* line 625, ../sass/screen.scss */
#contact-form {
  display: inline-block;
  max-width: 50%;
}
/* line 629, ../sass/screen.scss */
#contact-form fieldset {
  margin-bottom: 10px;
}
/* line 632, ../sass/screen.scss */
#contact-form label {
  display: inline-block;
  width: 5em;
  text-align: right;
  border-top: 1px solid #363636;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 2px;
  font-weight: 400;
}
/* line 647, ../sass/screen.scss */
#contact-form input, #contact-form textarea {
  background: transparent;
  border: 1px solid #cbcbcb;
}
/* line 650, ../sass/screen.scss */
#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
  background: #ffffff;
}

/* line 657, ../sass/screen.scss */
.wrapper {
  margin: auto;
  max-width: 900px;
}

/* line 662, ../sass/screen.scss */
.connections-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 668, ../sass/screen.scss */
.connections-cont .connections {
  flex: 1 1 auto;
  padding: 5px 10px;
  overflow: hidden;
}

/*# sourceMappingURL=screen.css.map */
