<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Pasquale Lisena">
  <meta name="description" content="Personal page of Pasquale Lisena, web engineer and researcher.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Exo:200,400,600|Roboto:300,400,500" rel="stylesheet">
  <link href="http://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  {% include header.big.html %}

  <section class="page">
    <div class="inner flex">
      <div class="box">
        {{ content }}
      </div>
      <div class="box twitter">
        <a class="twitter-timeline" data-width="400" data-tweet-limit="2" data-link-color="#ca4539" href="https://twitter.com/PasqLisena">Tweets by PasqLisena</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </section>

  {% include footer.html %}

  <script type="application/ld+json">
    {{site.data.pasquale | jsonify}}
  </script>
</body>

</html>
