<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Pasquale Lisena">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="3k-A4xWf0y4Aqrq9-AOD89DWNM0jLBQdeMYODzbnr7E" />

  <link href="https://fonts.googleapis.com/css?family=Exo:200,400,600|Roboto:300,400,500" rel="stylesheet">
  <link href="https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DPE3VSGHE6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DPE3VSGHE6');
  </script>

</head>

<body>
  {% include header.big.html %}

  <section class="page">
    {% if page.news %}
    <div class="news">
      <ul data-children="{{page.news | size}}">
        {% for item in page.news %}
        <li>{{item | markdownify}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}


    <div class="inner flex">
      <div>
        {{ content }}
      </div>
      <div class="box twitter" id="twitter">
        <a class="twitter-timeline" data-width="400" data-tweet-limit="2" data-link-color="#ca4539" href="https://twitter.com/PasqLisena">Tweets by PasqLisena</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </section>

  {% include footer.html %}

  <script type="application/ld+json">
    {{site.data.pasquale | jsonify}}
  </script>
</body>

</html>
