<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Pasquale Lisena">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Exo:200,400,600|Roboto:300,400,500" rel="stylesheet">
  <link href="https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DPE3VSGHE6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DPE3VSGHE6');
  </script>

</head>

<body>
  {% include header.small.html %}

  <section class="page internal">
    <div class="inner">
      <div class="box">
        {{ content }}
      </div>
    </div>
  </section>

  {% include footer.html %}

</body>

</html>
